.image{
    background-image: url(blue.png);
    background-repeat: repeat;
    border: 5px solid black;
    padding: 20px;
    border-radius: 10px;
}


.card{
    display: inline-flexbox;
    margin: 0 auto;
    justify-content: space-around;
}

.img{
    border: 5px solid red;
    border-radius: 5px;
}

.heading{
    
    color: red;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.para{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: cornsilk;
}